* {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  row-gap: 10px;
  column-gap: 30px;

  /* indiferente: */
  background-color: #f9eac3;
  padding: 16px;
  height: 500px;
}

.bloco-1 {
  /* indiferente: */
  background-color: #c6d8f0;
  height: 150px;
  width: 150px;
  text-align: center;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 16px;
}

.bloco-2 {
  /* indiferente: */
  background-color: #d8bfd8;
  height: 150px;
  width: 150px;
  text-align: center;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 16px;
}

.bloco-3 {
  /* indiferente: */
  background-color: #ff9999;
  height: 150px;
  width: 150px;
  text-align: center;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 16px;
}